*{
    padding: 5px;
}


.head{
    background-color: rgb(161, 233, 209);
    padding: 20px 10px;
    display: flex;
    justify-content:space-evenly;
    gap: 15px;
}
.nav{
    text-decoration: none;
    border-bottom: 5px;
    color: #000;
    gap: 15px;
}

.navigation{
    padding: 5px;
    text-align: right;
}
.toggle{
    background-color: black;
}
.logo{
    color: white;
    text-align: left;
    border: 5px solid rgb(252, 182, 5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section{
    background-color: aquamarine;
    display: flex;
    justify-content:space-around;
    padding: 20px;
}
.button{
    color: rgb(236, 243, 233);
    background-color: rgb(171, 247, 100);
    border-radius: 20px;
    padding: 15px;
    border: none;
}
.button:hover{
     box-shadow: 5px;
     color: white;
     background-color: bisque;
     border-radius: 20px;
     padding: 10px;
     border: none;
}

.text{
    text-align: center;
    background-color: aquamarine;
    float: inline-start;
}
.icon{
    text-align: left;
    font-size: 40px;
    float: left;
}
.image{
    border-radius: 50%;
    width: 250px;
    height: 200px;
}
.about{
    background-color: aquamarine;
    height: 350px;
    width: 1370px;
}
.word{
    text-align: center;
}
.word2{
    float: right;
}
.introduce{
    text-align: center;
}
.image2{
    width: 250px;
    height: 200px;
    float: left;
    border-radius: 50%;
}
.cv{
    background-color: rgb(12, 12, 241);
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: #000;
}
.cv:hover{
    background-color: rgb(83, 83, 245);
    border: 2px solid wheat;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
.content{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
}
.container-skill{
    background-color: rgb(4, 250, 37);
    width: 100%;
    border-radius: 10px;
}
.skill{
    background-color: rgb(250, 116, 53);
    color: white;
    text-align: center;
    border-radius: 15px;
}
.HTML{
    width: 90%;
}
.CSS{
width: 70%;
}
.js{
width: 60%;
}
.img{
    width: 250px;
    height: 300px;
}
/* for contact */
.form{
    background-color: rgb(149, 201, 250);
    padding: 20px;
    text-align: center;
}
input[type=button]{
    background-color: grey;
    padding: 3px;
    width: 100px;
    border: 3px solid white;
}
input[type=button]:hover{
    background-color: peru;
    cursor: pointer;
}
form{
background-color: rgb(91, 203, 231);
margin-left: auto;
margin-right: auto;
padding: 15px;
border-radius: 40px;
}
input[type=Email], input[type=name],input[type=textarea]{
    width: 300px;
    border: 2px solid rgb(233, 241, 112);
    padding: 5px 10px;
    background-color: rgb(244, 244, 248);
    }
    /* services */
    .services{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* width: 1400px; */
    }
    .servicessection{
        background-color: aquamarine;
        border: 2px solid goldenrod;
        text-align:center;
        width: 1280px;
        height: 770px;
    }

    .frontend{
        background-color: rgb(214, 252, 239);
        width: 230px;
    border-radius: 10px;
    position: relative;
        
}
.frontend:hover{
    box-shadow: 3px 1px 0px ;
}
.Backend{
    width: 250px;
    background-color: rgb(215, 247, 236);
    border-radius: 10px;
    position: relative;
}
.Backend:hover{
    box-shadow: 3px 1px 0px ;
}
.ul{
    width: 250px;
        border-radius: 10px;
        background-color: rgb(211, 241, 231); 
        position: relative;
    }
    .ul:hover{
        box-shadow: 3px 1px 0px ;
    }
    .developer{
        width: 250px;
        border-radius: 10px;
        background-color: rgb(209, 247, 234);
        position: relative;
    }
    .developer:hover{
        box-shadow: 3px 1px 0px ;
    }
    .text{
        border-radius: 10px;
        background-color: rgb(209, 247, 234);
    }
 
    .follow{
        background-color: rgba(135, 135, 216, 0.767);
        text-align: center;
    }
    .icon2{
        /* padding: 20px; */
        text-align: center;
    }
    .by{
        color: aliceblue;
        font-size: 50px;
    }
    #dark_theme{
        background-color: white;
    }
    @media screen and ( max-width:480px) {
        .head{
            display: block;
            width: 370px;
            position: sticky;
            z-index: 4;
            top: 0;
            
        }
        body{
            text-align: center;
        }
        .nav{
            text-decoration: none;
            border-bottom: 5px;
            color: #000;
            gap: 5px;
        }
        .navigation{
            padding: 5px;
            text-align: center;
        }
        .logo{
            color: white;
            text-align: center;
            border: 5px solid rgb(252, 182, 5);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        .section{
            display: flex;
            padding: 10px;
            width: 390px;
        }
        .image{
            width: 80px;
            height: 90px;
        }
        .about{
            background-color: aquamarine;
             width: 390px;
            height: 600px;
            display: block;
        }
        .services{
            display: block;
            width: 350px;
            /* height: 300px; */
            padding: 10px;
            /* position: absolute; */
            text-align: center;
            
        }
        .servicessection{
            width: 390px;
            /* position: relative; */
            height: 2500px;
        }
        .Backend{
            width: 220px;
        }
        
         
        .content{
            padding: 20px;
            display: flex;
            justify-content: space-around;
            background-color: aquamarine;
            width: 370px;
        }
        .container-skill{
            background-color: rgb(4, 250, 37);
            width: 100%;
            border-radius: 25px;
        }
        .skill{
            background-color: rgb(250, 116, 53);
            color: white;
            text-align: center;
            border-radius: 520x;
        }
        .HTML{
            width: 90%;
        }
        .CSS{
        width: 70%;
        }
        .js{
        width: 60%;
        }
       
        /* for form */
        form{
             background-color:burlywood; 
            padding: 10px;
            border-radius: 10px;
            width: 250px;
            } 
           
            input[type=button]{
                padding: 3px;
                width: 70px;
            }
            input[type=button]:hover{
                background-color: peru;
                cursor: pointer;
            }
           
            input[type=Email], input[type=name],input[type=textarea]{
                width: 50px;
                border: 2px solid rgb(247, 159, 159);
                padding: 5px 10px;
                background-color: rgb(194, 194, 247);
                }
                .follow{
                    background-color: lightgoldenrodyellow;
                    width: 390px;
                }
                .icon2{
                    text-align: center;
                    display: flex;
                    align-content: normal;
                    justify-content: space-between;
                }
                
    }
    